In [3]:
import numpy as np


import nltk
    
nltk.download('vader_lexicon')

import pandas as pd

df = pd.read_csv(r'C:\Users\ADITYA\Desktop\data$ET.csv')
df.head()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ADITYA\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,Id,Which school does the teacher belongs to,NAME,REVIEWS,RATINGS
0,5,SMEC,ANIL P.M.,Very chill in class,3
1,6,SMEC,ANOJ GIRI,Very chill in class. You can leave the class a...,3
2,19,SMEC,SENTHILKUMAR P,Teaches really well,3
3,7,SMEC,ARUNA KUMAR BEHURA,Okay-ish,2
4,18,SMEC,EDWIN SUDHAGAR P,Chill in class. Teaches really well.,2

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

In [10]:
df['scores'] = df['REVIEWS'].apply(lambda review: sid.polarity_scores(review))

df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

df.head(10)

,Id,Which school does the teacher belongs to,NAME,REVIEWS,RATINGS,scores,compound,comp_score
0,5,SMEC,ANIL P.M.,Very chill in class,3,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
1,6,SMEC,ANOJ GIRI,Very chill in class. You can leave the class a...,3,"{'neg': 0.071, 'neu': 0.769, 'pos': 0.16, 'com...",0.3612,pos
2,19,SMEC,SENTHILKUMAR P,Teaches really well,3,"{'neg': 0.0, 'neu': 0.455, 'pos': 0.545, 'comp...",0.3384,pos
3,7,SMEC,ARUNA KUMAR BEHURA,Okay-ish,2,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
4,18,SMEC,EDWIN SUDHAGAR P,Chill in class. Teaches really well.,2,"{'neg': 0.0, 'neu': 0.676, 'pos': 0.324, 'comp...",0.3384,pos
5,21,SMEC,THIAGARAJAN S,"Teaches well, chill",2,"{'neg': 0.0, 'neu': 0.488, 'pos': 0.512, 'comp...",0.2732,pos
6,23,SMEC,BIBHUTI BHUSAN SAHOO,Teaches well but really strict in class,2,"{'neg': 0.0, 'neu': 0.795, 'pos': 0.205, 'comp...",0.1406,pos
7,2,SMEC,RAHUL SINGH SIKARWAR,Worst teacher ever. Literally failed entire cl...,1,"{'neg': 0.597, 'neu': 0.403, 'pos': 0.0, 'comp...",-0.8126,neg
8,15,SMEC,NAIJU C D,Worst faculty. Do not opt for him.,1,"{'neg': 0.406, 'neu': 0.594, 'pos': 0.0, 'comp...",-0.6249,neg
9,44,SITE,SWARNA PRIYA R.M,One of the best faculty in VIT,3,"{'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'comp...",0.6369,pos

In [6]:
# Write a review as one continuous string (multiple sentences are ok)
review = 'The teachers is very bad and strict.'

In [7]:
# Obtain the sid scores for your review
sid.polarity_scores(review)

{'neg': 0.387, 'neu': 0.613, 'pos': 0.0, 'compound': -0.5849}

In [8]:
review = 'He is very bad in corrction of papers.'

In [15]:
# Obtain the sid scores for your review
sid.polarity_scores(review)

{'neg': 0.351, 'neu': 0.649, 'pos': 0.0, 'compound': -0.5849}